/* body{
  font-family: 'Montserrat', sans-serif;
}

.main-heading{
  text-align: center;
  color: azure;
  background-color: rgb(21, 21, 140);
  font-size: 25px;
}
.li-text{
  font-style: italic;
  font-size: 14px;
}
.heading-art{

} */